In [9]:
import pandas as pd
import os
from pathlib import Path

In [3]:
home = Path.cwd()
print(home)

/Users/matthewsheppard/Documents/genassembly/global-dev

In [4]:
print(home.parent)

/Users/matthewsheppard/Documents/genassembly

In [10]:
mortality_fileloc = "resources/mortality_rate_under5.csv"
co2total_fileloc = "resources/co2_emissions_kt.csv"
co2pc_fileloc = "resources/CO2_mt_percapita.csv"
electricity_fileloc = "resources/electricity_access.csv"
electr_consum_fileloc = "resources/electricity_cons.csv"
gdp_fileloc = "resources/gdp.csv"

In [12]:
#co2pc_df = pd.read_csv(co3pc_fileloc)
#co2pc_df.drop(["2019", "2020"], axis=1, inplace=True)

In [13]:
co2pc_df = pd.read_csv(co2pc_fileloc)
co2pc_df = co2pc_df.rename(columns={"2018":"CO2percap_2018"})
selected_columns = co2pc_df[['Country Name', 'Country Code', 'CO2percap_2018']]
co2pc2018_df = selected_columns.copy()
co2pc2018_df.to_csv("resources/co2pc2018.csv", index=False)
co2pc2018_df.head(5)

                  Country Name Country Code  CO2percap_2018
0                        Aruba          ABW             NaN
1  Africa Eastern and Southern          AFE        0.933541
2                  Afghanistan          AFG        0.200151
3   Africa Western and Central          AFW        0.515544
4                       Angola          AGO        0.887380

In [14]:
electricitydf = pd.read_csv(electricity_fileloc)
electricitydf = electricitydf.rename(columns={"2018":"Electricity_2018"})
selected_columns = electricitydf[['Country Name', 'Country Code', 'Electricity_2018']]
electricity2018_df = selected_columns.copy()
electricity2018_df.to_csv("resources/electricity2018.csv", index=False)
electricity2018_df.head(5)

                  Country Name Country Code  Electricity_2018
0                        Aruba          ABW        100.000000
1  Africa Eastern and Southern          AFE         42.168241
2                  Afghanistan          AFG         98.715622
3   Africa Western and Central          AFW         51.253253
4                       Angola          AGO         45.290000

In [15]:
mortalitydf = pd.read_csv(mortality_fileloc)
mortalitydf = mortalitydf.rename(columns={"2018":"Mortality_2018"})
selected_columns = mortalitydf[['Country Name', 'Country Code', 'Mortality_2018']]
mortality2018_df = selected_columns.copy()
mortality2018_df.to_csv("resources/mortality2018.csv", index=False)
mortality2018_df.head(5)

                  Country Name Country Code  Mortality_2018
0                        Aruba          ABW             NaN
1  Africa Eastern and Southern          AFE       62.115387
2                  Afghanistan          AFG       62.500000
3   Africa Western and Central          AFW       99.598781
4                       Angola          AGO       77.700000

In [16]:
elect_consume_df = pd.read_csv(electr_consum_fileloc)
elect_consume_df = elect_consume_df.rename(columns={"2014":"Electr_Cons_2014"})
selected_columns = elect_consume_df[['Country Name', 'Country Code', 'Electr_Cons_2014']]
electr_consume_2014_df = selected_columns.copy()
electr_consume_2014_df.to_csv("resources/electrconsume2014.csv", index=False)
electr_consume_2014_df.head(5)

                  Country Name Country Code  Electr_Cons_2014
0                        Aruba          ABW               NaN
1  Africa Eastern and Southern          AFE        686.728057
2                  Afghanistan          AFG               NaN
3   Africa Western and Central          AFW        186.199010
4                       Angola          AGO        312.228895

In [17]:
gdp_df = pd.read_csv(gdp_fileloc)
gdp_df = gdp_df.rename(columns={"2020":"gdppc_2020"})
selected_columns = gdp_df[['Country Name', 'Country Code', 'gdppc_2020']]
gdppc2020_df = selected_columns.copy()
gdppc2020_df.to_csv("resources/gdp2020.csv", index=False)
gdppc2020_df.head(5)

                  Country Name Country Code   gdppc_2020
0                        Aruba          ABW          NaN
1  Africa Eastern and Southern          AFE  1356.699267
2                  Afghanistan          AFG   516.747871
3   Africa Western and Central          AFW  1710.073363
4                       Angola          AGO  1776.166868

In [8]:
gdppc2020_df['gdppc_2020'].unique()

array([           nan,   1356.699267 ,    516.7478708,   1710.073363 ,
         1776.166868 ,   5246.292306 ,   5586.781783 ,  36284.55524  ,
         8579.017773 ,   4266.018074 ,  12844.90099  ,  13992.74448  ,
        51692.84275  ,  48586.80132  ,   4221.407478 ,    238.9907259,
        45159.34822  ,   1291.040972 ,    857.9327297,   1961.613749 ,
        10079.20338  ,  20409.9528   ,  25194.02514  ,   6079.738285 ,
         6424.152176 ,   4115.177008 , 107079.4798   ,   3133.099803 ,
         6796.844542 ,  15373.8547   ,  27442.95383  ,   3000.779327 ,
         6404.899932 ,    492.7958712,  43258.17632  ,  16168.29609  ,
        87097.03645  ,  13231.70421  ,  10434.77519  ,   2325.723705 ,
         1537.130218 ,    543.9503925,   1846.131297 ,   5334.556042 ,
         1420.661747 ,   3064.272388 ,  12140.85415  ,   8873.521929 ,
         9477.852873 ,  16745.72431  ,  85082.52686  ,  26623.80089  ,
        22932.22497  ,  46208.42947  ,   3425.484176 ,   7003.859021 ,
        61063.31643  ,   7268.19691  ,   3306.858208 ,   8254.670871 ,
         3201.652532 ,  11477.79259  ,   7668.524344 ,  23960.98648  ,
         5600.389615 ,   3569.206841 ,  37968.25815  ,  27063.19392  ,
        23027.027    ,    936.3404611,  34149.29205  ,   1619.660922 ,
        48773.28117  ,   5057.631913 ,  39030.36037  ,   3565.293294 ,
         6881.715192 ,  41124.53477  ,   4266.690795 ,   2205.529016 ,
         1194.037865 ,    773.0020701,    727.5201717,   7143.238705 ,
        17622.541    ,   9261.551876 ,   4603.339617 ,  34624.34013  ,
         6955.939217 ,  43950.08525  ,  46323.86344  ,   2389.012431 ,
          966.2899026,  14134.16268  ,   1272.367992 ,  15980.74089  ,
         6149.361544 ,   4890.786393 ,   1309.515504 ,   1674.917871 ,
         3869.588427 ,   1125.183364 ,   1927.707823 ,  85267.76474  ,
         2422.480657 ,   4145.862936 ,  59270.18005  ,  44168.94364  ,
        31714.22095  ,   4664.530242 ,   4282.765825 ,  40193.25244  ,
         9122.23343  ,   1878.580703 ,   1173.611304 ,   1543.669258 ,
         1653.540297 ,  18437.74892  ,  31631.46945  ,  24811.76971  ,
         6779.199717 ,   2629.714583 ,   4649.547646 ,    632.9363856,
         3699.294765 ,   8804.561048 ,   7244.659419 ,   1051.883106 ,
          688.0320235,   3680.673477 ,   2217.214884 ,   4754.520478 ,
          875.353433 ,   9679.396845 ,  20233.64135  , 116014.6025   ,
        17726.25294  ,  39403.13591  ,   3009.24946  ,   4547.059721 ,
          471.4914963,   6924.105745 ,   6514.343358 ,   8329.271313 ,
         4129.850998 ,   5216.947891 ,   5917.262575 ,    862.4530188,
        27884.64283  ,   1467.604281 ,   3018.433655 ,   7677.152226 ,
         4060.950518 ,    448.5442807,   1701.991163 ,   8627.843157 ,
          636.8205368,  10412.34898  ,  61337.0311   ,   4179.278066 ,
          567.6698923,   2097.092473 ,   1905.261152 ,  52397.11671  ,
        67389.91205  ,   1155.142854 ,  10580.26819  ,  41441.46667  ,
        38178.17828  ,  12659.71772  ,  11766.97374  ,   1188.859757 ,
        12509.83529  ,   6126.87454  ,   3298.829586 ,  14243.86469  ,
         2757.21753  ,  15720.99466  ,   1330.012898 ,  32290.92114  ,
        22176.29671  ,   5001.07276  ,   3239.731108 ,   3768.543357 ,
        44425.16169  ,  50124.38594  ,  12896.08862  ,  10126.72179  ,
          797.8555207,   1823.712912 ,  20110.31619  ,    595.467833 ,
         1471.830962 ,  59797.75218  ,   2250.601164 ,    509.376594 ,
         3798.636521 ,    313.872315 ,   7720.510572 ,   1498.609739 ,
         1499.412813 ,  10770.58978  ,   2157.840446 ,   4916.605666 ,
        19266.51357  ,  25517.33067  ,  52274.40879  ,   3424.282212 ,
        10764.42042  ,  23879.92665  ,    659.270045 ,   8346.03881  ,
         8387.390693 ,    914.9507925,   7186.874092 ,    859.1379611,
         7035.753075 ,   1442.730738 ,   3015.703551 ,   4624.823449 ,
        15425.63511  ,   3521.591948 ,   8536.43332  ,   4143.109753 ,
         1076.470385 ,    822.0276815,   3726.927149 ,   9177.840437 ,
        15438.41167  ,  63413.51386  ,   1750.697113 ,   7278.016297 ,
         2785.724161 ,   2870.0893   ,  10910.08362  ,   4067.843459 ,
         4346.637931 ,   5655.867654 ,    985.132436 ,   1214.50982  ])

In [18]:
import pandas as pd
from functools import reduce

# compile the list of dataframes you want to merge
dfwrldbnk_merged = [mortality2018_df, electricity2018_df, co2pc2018_df, electr_consume_2014_df, gdppc2020_df]
dfwrldbnk_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Code'],
                                            how='outer'), dfwrldbnk_merged)
# need to look at the above line of code again. 
selected_columns = dfwrldbnk_merged[['Country Name', 'Country Code', 'Mortality_2018', 'Electricity_2018', 'CO2percap_2018','Electr_Cons_2014', 'gdppc_2020']]
dfwrldbnk_merged = selected_columns.copy()
dfwrldbnk_merged.to_csv("resources/combinedwrldbnkdata.csv", index=False)
dfwrldbnk_merged.head(5)

/var/folders/ww/rk8f72v13bz__ysl266x3d240000gn/T/ipykernel_36881/1200015430.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Country Name_x'} in the result is deprecated and will raise a MergeError in a future version.
  dfwrldbnk_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Code'],

,Country Name,Country Code,Mortality_2018,Electricity_2018,CO2percap_2018,Electr_Cons_2014,gdppc_2020
0,Aruba,ABW,NaN,100.000000,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,62.115387,42.168241,0.933541,686.728057,1356.699267
2,Afghanistan,AFG,62.500000,98.715622,0.200151,NaN,516.747871
3,Africa Western and Central,AFW,99.598781,51.253253,0.515544,186.199010,1710.073363
4,Angola,AGO,77.700000,45.290000,0.887380,312.228895,1776.166868